body, html {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.navbar {
    margin-bottom: 0;
    height: 35px;
    align-items: center; /* Center the navbar content vertically */
}

.container-fluid {
    height: calc(100% - 35px); /* Subtract navbar height */
    padding: 0;
}

.row {
    height: 100%;
}

.left-section {
    background-color: #F3EFE9;
}

.right-section {
    background-color: #570F31;
    color: #FFF; /* Set text color to white for better contrast */
}
