@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

body, html {
    margin: 0;
    height: 100%;
    overflow-x: hidden;
}

.navbar-custom {
    margin-bottom: 0;
    height: 35px;
    align-items: center; /* Center the navbar content vertically */
    background-color: #232122; /* New navbar background color */
    width: 100%; /* Make the navbar container wider */
    font-family: 'Roboto Mono', monospace; /* Specify the font family */
    font-weight: 700;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: #F3EFE9;
    padding: 0;
    line-height: 35px;
    font-size: 16px;
    letter-spacing: 0.05em;
    font-family: 'Roboto Mono', monospace;
    margin: 0; /* Add a margin to create more space between nav items */
}

.navbar-custom .navbar-nav {
    flex-grow: 1;
    display: flex;
    justify-content: space-between; /* Spread out the nav items */
}

.navbar-custom .nav-link:hover {
    color: #232122;
    background-color: #F3EFE9; /* New background color on hover */
}

.container-fluid {
    height: calc(100% - 35px); /* Subtract navbar height */
    padding: 0;
}

.row {
    height: 100%;
}

.left-section {
    background-color: #F3EFE9;
}

.right-section {
    background-color: #009D9A;
    color: #FFF; /* Set text color to white for better contrast */
}

a:focus, a:active, a:hover {
  outline: none;
  text-decoration: none;
  color: #F3EFE9; /* Set the desired color for the links */
}
